# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/.tmp_versions/
/Module.symvers
/.acerhdf.ko.cmd
/.acerhdf.mod.o.cmd
/.acerhdf.o.cmd
/modules.order
/acerhdf.mod.c